/* Start Bootstrap carousel */
.itemP {
    height: 20rem;
    
  }
  .itemP > img {
    width: 70vw;
    object-fit: cover;
    height: 20rem;
    border-radius: 1rem;
  }
  
  .caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
  }
  
  .caption h3 {
    font-size: 35px;
    color: rgb(255, 255, 255);
  }
  /* End Bootstrap carousel */
  