.menu {
  width:100%;
  height:50px;
  background-color: rgba(195,195,195,.3);
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(255,255,255,.2);
  position: sticky;
  top: 0px;
  z-index:999999;
}

.menu  ul {
  display:flex;
  color: #fffafa;
  margin: 0;
  padding: 0 10vw;
  float: right;
}

@media only screen and (max-width: 700px) {
  .menu > ul {padding: 0;}
}

.menu  ul  li  a {
  display: block;
  font-family: 'Sarala',sans-serif;
  color: #fffafa;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1.5rem;
  text-transform: uppercase;
  text-decoration:none;
  line-height: 49px;
  cursor: pointer;
}

.menu ul li{
	list-style: none;
}

.menu ul li a:hover{
	background: rgba(50, 171, 226, 0.7);
}

.conteudoPrincipal {
  background-image: url("../../public/imagens/bgsec1.jpg");
  /* Full height */
	width: 100%;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.conteudoPrincipalEscrito {
  align-items:center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 2rem 0 2rem;
  text-align: center;
  max-width: 100%;
}

.conteudoPrincipalEscritoTitulo {
  font-family: 'Shrikhand', cursive;
  color: #fffafa;
  font-weigth: 400;
  font-size: 64px;
  max-width: 100%;
}

.conteudoPrincipalEscritoSubTitulo {
  color: #fffafa;
  font-weigth: 400;
  font-size: 24px;
  align-self: center;
}

.conteudoPrincipalEscritoBotao {
  background-color: #bfc616;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala',sans-serif;
  color: #fffafa;
  font-weigth: 400;
  font-size: 24px;
  transition:all 0.4s;
}

.conteudoPrincipalEscritoBotao:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.conteudoCards{
  display: grid;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: rgb(63,146,200);
  background: linear-gradient(0deg, rgba(63,146,200,1) 0%, rgba(77,180,123,1) 9%, rgba(77,180,123,1) 94%, rgba(115,202,143,1) 100%);
  justify-items: center;
}

.roteirosTittle, 
.sobreTittle,
.localTittle,
.galeriaTittle,
.contatoTittle {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  z-index: 999;
}

.boxCards {
  display: flex;
  padding: 2rem 0 2rem 0;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.sobre {
  display: flex;
  background-color: #3f92c8;
  padding: 2rem;
  flex-direction: column;
  justify-items: center;
}

.sobre1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 5rem;
  justify-content: center;
  height: fit-content;
}

.sobre1 > p {
  margin-left: 13.5%;
}

.sobre1 > p:nth-child(1) {
  padding: 3rem 0 0 0;
}

.sobre1 > p:nth-child(2) {
  padding: 0 0 5rem 0;
}

.sobreT {
  display: flex;
  width: 100%;
  justify-content: center;
}

.local {
  display: flex;
  justify-content: center;
  background-color: #3f92c8;
  gap: 1rem;
  padding: 2rem;
}

.galeria {
  display: grid;
  gap: 1rem;
  background-color: #3f92c8;
}

.galeria > p {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contato {
  padding: 2rem;
  background: rgb(0,212,255);
}

.contato > p {
  display: flex;
  width: 100%;
  justify-content: center;
}

.divFormAgendamento {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #E6FDFB;
  box-shadow: inset 4px 5px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  justify-items: center;
}

.containerForm{
  display: grid;
  width: 85%;
  gap: 1rem;
}

.nome {
  display: grid;
  width: 100%;
}

.nome > input {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  height: 34px;
  padding: 0 0 0 5px;
  width: 100%;
}

.nome > input:focus {
  outline: none;
}

.telefone {
  display: grid;
  width: 100%;
}

.telefone > input {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  height: 34px;
  padding: 0 0 0 5px;
  width: 100%;
}

.dataPickerContainer {
  display: grid;
  width: 100%;
}

.telefone > input:focus {
  outline: none;
}

.nomeCel, .roteiroPessoas {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr 1fr;
}

.roteiroPessoas {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr .5fr .5fr;
}

/* Media Query para telas menores */
@media screen and (max-width: 600px) {
  .nomeCel, .roteiroPessoas  {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.passageiros {
  display: grid;
  width: 100%;
}

.passageiros > input {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  height: 34px;
  padding: 0 0 0 5px;
  width: 100%;
}

.passageiros > input:focus {
  outline: none;
}

.obrigatorio{
  font-size: 10px;
  color: #ff3a3a;
}

.observacao {
  display: grid;
}

.observacao > textarea {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  resize: vertical;
  padding: 0 0 0 5px;
}

.observacao > textarea:focus {
  outline: none;
}

.divFormDuvida {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #E6FDFB;
  box-shadow: inset 4px 5px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  justify-items: center;
}

.bolha {
  position: absolute;
  height: fit-content;
  width: 93%;
  background: #54ABFB;
  border-radius: 51% 87% 48% 52% / 62% 44% 56% 38%;
  opacity: 0.8;
  border: 2px solid #3d93ff;
}

.bolha::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #318CFE;
  border-radius: 51% 87% 48% 52% / 62% 44% 56% 38%;
  box-shadow: -20px 10px 16px #1B6CFB, -40px 30px 32px #1b6cfb, inset -6px 6px 10px #1B6CFB, inset 2px 6px 10px #1a74e5, inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
}

.bolha::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background: #E6FDFB;
  border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
  left: 20%;
  top: 10%;
  box-shadow: 16px 40px 0 -10px white;
  opacity: 0.8;
}

/* Begin Bubbles */
.bubbles{
  position:absolute;
  width:100%;
  height: 180%;
  z-index:0;
  overflow:hidden;
  top:100;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}
/* End Bubbles */

/* Inicio botão envio */
.botaoEnvio {
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Sarala',sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;  
  color: rgb(230, 239, 248);
  background-color: rgb(0, 183, 255);
  box-shadow: hsla(210, 40%, 52%, .4) 2px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
}

.botaoEnvio:focus {
  outline-color: transparent;
  box-shadow: hsl(210, 80%, 42%) 2px 2px 22px;
}

.right::after, .botaoEnvio::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events:none;
}

.botaoEnvio::after{
  font-weight: 200;
  top: -30px;
  left: -20px;
} 

.right, .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  
  background-color: #141218;
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

.botaoEnvio:hover > .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

.botaoEnvio > .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

.botaoEnvio > .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
.botaoEnvio::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, hsla(210, 50%, 85%, 1) 3px, hsla(210, 50%, 85%, 1) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, hsla(210, 50%, 85%, 1) 3px, hsla(210, 50%, 85%, 1) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, hsla(210, 50%, 85%, 1) 5px, hsla(210, 50%, 85%, 1) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
/* Fim botão envio */

